* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.base-bg {
    margin: 1%;
    height: 100vh;
    background-image: url("../images/banner.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

section {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .base-bg{
        padding: 0;
        margin: 0;
        background-size: 150vh;
        background-position: center top;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 30%;
    }
}