* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.base-container {
    height: 100vh;
    width: 100%;
    background-color: #EBEBEB;
}

.base-bg {
    margin: 1%;
    height: 100vh;
    background-image: url("../images/banner.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .base-bg{
        padding: 0;
        margin: 0;
        background-size: 150vh;
        background-position: center top;
    }
}